@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");



body {
    background-color: #19111E;
    font-family: "Montserrat", serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 0.75rem 5vw;
    background-color: white;
}

nav span {
    color: #67417c;
}

nav p {
    font-size: 25px;
    font-weight: 600;
}

nav li {
    display: flex;
    align-items: center;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #676767;
    padding: 0 1rem;
    font-size: 20px;
    transition: 0.1s ease-in-out;
}

nav a:hover {
    color: #3d2949;
}


.main{
    background-color: #19111E;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 160px auto 20px;  /*Margem pra mover p baixo */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff; 
}

h1, h2 {
    text-align: center;
}

#vinhos {
    margin-bottom: 20px;
}

#calculadora {
    border-top: 1px solid #ccc;
    padding-top: 30px;
}

#calculadora button:hover {
    background-color: #19111E; 
}

.item {
    margin-bottom: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.item span {
    font-weight: bold;
}

.item input {
    width: 60px;
    padding: 5px;
    font-family: "Montserrat", serif;
}

button {
    margin-top: 20px;
    background-color: #584166;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    font-family: "Montserrat", serif;
}

button:hover {
    background-color: #6a5588; 
    color: #f0f0f0; 
}

button:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#formasPagamento{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin: 30px 0 30px 0;
}

#cupom {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
#cupom button:hover {
    background-color: #19111E; 
}

#cupomInput {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    font-family: "Montserrat", serif;
}
}

#cupomMsg {
    font-style: italic;
}

#total{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
main-footer {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    background-color: #3d2949;
}

.main-footer ul {
    list-style: none;
}

.main-footer h1 {
    font-size: 22px;
    line-height: 117%;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}

.main-footer ul li a {
    color: #ffffffcc;
    text-decoration: none;
   
}

footer {
    background-color: #3d2949;
    border-top: 1px solid #3d29498e;
    font-size: 17px;
    padding: 15px 5px;
    color: #ffffff;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

.contact-details {
    margin-top: 20px;
}

.contact-details li {
    list-style: none;
    margin: 10px 0;
    text-align: center;
}

.contact-details li a {
    text-decoration: none;
    color: #f1f1f1;
    text-align: center;
}

.contact-details .fa {
    color: #f1f1f1;
    margin-right: 10px;
}

.com ul li {
    padding: 5px 0;
}